/* Pop-up modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.google-map iframe {
  width: 100%;
  height: 300px; /* or any other height */
  border: none;
}

footer a img {
  width: 1em; /* sets the icon size to the same as the current font size */
  height: auto; /* maintains aspect ratio */
  vertical-align: middle; /* aligns the icon with the middle of the text */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #333; /* Dark background for the header */
  color: white; /* Light text */
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 5px 10px; /* Add some padding around the list items */
}

nav button {
  background-color: #555; /* Slightly lighter than the header for contrast */
  color: white; /* White text for readability */
  border: none; /* Remove the default border */
  padding: 10px 20px; /* Add some padding for a larger click area */
  margin: 0; /* Remove default margin */
  cursor: pointer; /* Change mouse cursor to indicate it's clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

nav button:hover {
  background-color: #777; /* Lighten button background on hover */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  header {
      flex-direction: column;
  }

  nav ul {
      width: 100%;
      justify-content: space-around;
  }

  nav button {
      width: 100%; /* Full width buttons on smaller screens */
      padding: 15px; /* Larger padding for easier touch */
  }
}

/* Add padding and margin as needed for alignment */
body {
  margin: 0; /* Remove default body margin */
  font-family: Arial, sans-serif; /* Set a default font */
}

footer a img {
  width: 1em; /* or however large you want the icons to be relative to your text */
  height: auto; /* to maintain aspect ratio */
  vertical-align: middle; /* to align with the text */
}